paper/*.synctex.gz
paper/*.tex
paper/*.log
paper/*.pdf
.directory
.DS_store
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
index.aux
index.bbl
index.fdb_latexmk
index.fls
index.log
index.out
index.tex
index.toc
refs.bib.bak
refs.bib.sav
cache
index-concordance.tex
