alignment-1.pdf
alignment-1.png
api-fig-print-1.pdf
api-fig-print-1.png
carcinoma-1.pdf
carcinoma2-1.pdf
carcinoma2-1.png
carcinoma3-1.pdf
carcinoma3-1.png
cl-overview-2-1.pdf
cl-overview-2-1.png
cl2-1.pdf
cl2-1.png
cl3-1.pdf
cl3-1.png
cl4-1.pdf
cl4-1.png
cl5-1.pdf
cl5-1.png
cl6-1.pdf
cl6-1.png
clustergram-1.pdf
clusters-1.pdf
old-1.pdf
order-fig-print-1.pdf
order-fig-print-1.png
order-fig-print-2.pdf
order-listing-code-1.pdf
order-listing-code-1.png
order-listing-code-2.pdf
order-listing-code-2.png
ordering-1.pdf
ordering-1.png
penguins-1.pdf
penguins-1.png
penguins-variable-order-1.pdf
penguins-variable-order-1.png
penguins2-1.pdf
penguins2b-1.pdf
penguins2b-1.png
reordering-variables-axis1-1.pdf
reordering-variables-axis1-code-1.pdf
scale-1.pdf
scale-1.png
sketch-1.pdf
sketch-1.png
spatial-1.pdf
unnamed-chunk-1-1.pdf
unnamed-chunk-2-1.pdf
